/*ROOTS*/
:root{
    --side-bar-w-md: 200px;
    --side-bar-w-sm: 100px;
}

.zone{
    right: 10px important;
    top:1rem important;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
}


.appear{
    display: none;
}


.ms_side-bar{
    padding-top: 5rem;
    height: 100vh;
    width: var(--side-bar-w-sm);
    background-color: blue;
}

.ms_main{
    padding-top: 5rem;
    height: 100vh;
    width: calc(100% - var(--side-bar-w-sm));
    background-color: brown;
}

@media screen and (min-width: 576px) {
    .ms_side-bar{
        width: var(--side-bar-w-md);
    }
    .ms_main{
        width: calc(100% - var(--side-bar-w-sm));
    }
    .appear{
        display: inline-block;
    }
}
